html {
    background-color:  rgb(40,40,40);
}


* {
    margin: 0;
    padding: 0;
}


body {
    display: grid;
    grid-template-rows: 15vh 60vh 25vh;
    grid-template-columns: auto 8fr;
    margin: 0;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

nav {
    grid-column: 1;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr auto;
    background-color: rgb(255, 0, 0, 1);
    height: 100%;
    width: 3vw;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    transition: width 0.47s;
}


.logo {
    height: 0;

}

.ab {
    font-size: 0;
    text-decoration: none;
    text-decoration-color: red;
}


.wow:hover {
    width: 20vw;
}

.wow:hover .ab {
    font-size: 3vh;
    transition: font-size 1.2s, text-decoration 4.5s;
    text-decoration: underline;
    text-decoration-color: black;

}

.wow:hover .logo {
    width: 8vh;
    height: 8vh;
    transition: height 1.2s;
}

.wow:hover .grey {
    width: 0;
    height: 0;
    transition: width 1s, height 500s;
    
}


.grey {
    width: 5vw;
    height: 100vh;
    position: absolute;
    left: 0;
    transition: width 1s;
}



a {
    color: black;
    font-size: 3vh;
}

img.logo {
    width: 8vh;

}

h4 {
    grid-row: 1;
    grid-column: 1/ span 2;
    text-align: center;
    align-self: center;
    background-color: black;
    color: red;
    font-size: 2.8vh;
    border-radius: 0.6vh;
    border: 0.3vh solid red;
    margin: 0 2vw;
}

p {
    align-self: baseline;
    grid-column: 1 / span2;
    width: 75vw;
    justify-self: center;
    font-size: 3vh;
    color: white;
    text-shadow: 0.5vh 0.5vh 0.3vh black;
}




.header {
    display: grid;
    grid-template-columns:  15fr  10fr;
    grid-template-rows:  10vh;
    height: 10vh;
    margin-left: 2vw;
}

.but1 {
    border: none;
    grid-column: 4;
    background: none;
    background-color: black;
    color: red;
    text-align: center;
    align-self: center;
    font-size: 4vh;
    transition: font-size 0.12s, color 0.6s, background-color 0.4s, border 0.6s;
    padding: 0;
    width: 25vw;
    justify-self: center;
    border-radius: 0.6vh;
    border: 0.3vh solid red;
}


.but1:hover {
    font-size: 5vh;
    color: black;
    background-color: red;
/*    background-image: linear-gradient(to right, red , yellow);*/

}

bold {
    font-size: 7vh;
    color: white;

}

.dropDown:hover .but1{

    color: black;
    background-color: red;
       border: 0.3vh solid black;

}

.dropDown1 {
    grid-column: 1;
}

.dropDown {
    text-align: center;
      position: relative;
    display: inline-block;
    height: 3vh;
    width: auto;
}

.shoppingMenu {
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;
}

.clearImg {
    width: 10vw;
    height: 10vw;
    grid-column: 1;
    margin: auto;
}


.remButton {
  width: 12vw;
    height: 12vw;
    background: none;
    padding: none;
    margin: none;
        border: 0.02vw solid red;
}




h10 {
    color: white;
      font-size: 3vh;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.cartBottom {
    display: grid;
    grid-column: 1/ span end;
    grid-template-rows: 1;
    grid-template-columns: 2;
}

.box {
    grid-column: 2;
    margin-left: 4vw;
    grid-row: 2;
    display: grid;
    grid-template-columns: 0 auto auto auto 10fr;
    grid-column-gap: 1vw;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 3.1415927vh;
}



h1 {
    color: white;
    font-size: 2vh;
    text-align: left;
    grid-column: 2;
    font-size: 0vh;
    margin-left: 10px;
}


.itemMenu  {
    display: none;
     z-index: 1;
/*    position: absolute;*/
/*    left: 28%;*/
/*    right: 50%;*/
    grid-row: 1/2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: auto;
}

.itemMenu2 {
    display: none;
    z-index: 1;
    width: 100%;
    align-content: center;
    text-align: center;
 grid-template-columns:  4fr 2.3fr 1fr 1.4fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;

}



.count {
    grid-column: 4;
    grid-row: 1;
}



.number2 {
    grid-row: 2;
}

.remove{   /* delte cart items */
    background-color: white;
    width: 3vh;
    height: 0vh;
}



.button2 {
    height: 0;
    width: 0;
    border: none;
    grid-column: 5;
    grid-row: 1;
   
}




.itemMenu2:hover {
    align-content: center;


}

.itemMenu h3 {
    margin: 1vh 0 0 0;
    font-size: 4vh;
    color: white;
    width: auto;
    text-align: center;
    justify-self: center;
    border: 0.2vh solid grey;
    border-radius: 0.7vh;
    padding: 0.2vh 1vh;
     transition: background-color 0.3s, border 0.3s, color 0.3s;
    
}


.itemMenu  h3:hover {
    background-color: grey;
    border: 0.2vh solid white; 
    color: rgb(40,40,40);
}

.h2 {
    font-size: 3vh;
    color: white;
    width: auto;
}



.dropDown:hover .itemMenu , .dropDown:hover .itemMenu2{
    display: grid;
}


.shoppingCart {
    grid-column: 2;
    justify-items: center;
}

#abc {
    align-items: center;
    justify-content: center;
}

.sCart {
    height: 15vh;

}



.dropDown:hover .shoppingCart{
    display: grid;
/*    width: 1vw;*/
  
    
    grid-template-rows: 5fr;
    grid-template-columns: 1fr;

/*    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;*/
}





.img {
    width: 0;
    height: 0;
    background: none;

}

.img1 {
    grid-row: 1; 
     grid-column:3;
}

.img2 {
    grid-row: 2; 
     grid-column:3;
}

.img3 {
    grid-row: 3;
     grid-column:3;
}

.img4 {
    grid-row: 4; 
     grid-column:3;
}


.cart1 {
    grid-row: 1; 
     grid-column:4;
}

.cart2 {
    grid-row: 2; 
     grid-column:4;
}

.cart3 {
    grid-row: 3;
     grid-column:4;
}

.cart4 {
    grid-row: 4; 
     grid-column:4;
}


footer {
    display: grid;
    
    position: absolute;
    bottom: 1vh;
    
    grid-template-rows: 2;
    grid-template-columns: 1;
}


h22 {
    font-size: 3vh;
    width: 100vw;
    text-align: center;
    align-self: center;
}



.bigKayak {
   
    height: 30vh;
    justify-self: center;
  
   left: 30vw; 
   right: 30vw;
}




















































