@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Poppins:wght@500&display=swap');

html {
    background-color: rgb(40, 40, 40);  /* background colour*/
    font-family: 'Poppins', sans-serif;   /* sets enteri page to main font as headers are changed to other font later */
}


* {  /* removes defaut browerser margins and padding*/
    margin: 0;
    padding: 0;
}


body {  /* seets grid for most of page exept fotter*/
    display: grid;
    grid-template-rows: 15vh 60vh 25vh;
    grid-template-columns: auto 8fr;
    margin: 0;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

nav {  /*creatres grid for nav and changes height and backgorund colour */
    grid-column: 1;
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 3fr  auto;
    background-color: rgb(255, 0, 0, 1);
    height: 100%;
    width: 3vw;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    transition: width 0.47s;  /*so it doesnt instnat pop out when hover to make look smoohter */
}


.logo {  /* logo height is 0 before nav is hovered/activated*/
    height: 0;

}

.wow:hover {  /*hover image width that is in forn of nav */
    width: 20vw;
}


.ab {  /*these are nav a links */
    font-size: 0;
    text-decoration-color: red;
}

.wow:hover .ab { /* changes nav a links when side nav is hovered/ acitvated*/
    font-size: 3vw;
    text-decoration: underline;
    text-decoration-color: black;
}


.pageOn { /* adds a backgorund ot the page */
 border-radius: 0.6vh;
    border: 0.3vh solid black;
    padding: 0.05vh 0.9vw;

}


.navA {  /*nav a text */
    color: black;
    -webkit-text-stroke: 0.14vw black;
    transition: -webkit-Text-Stroke 0.5s, color 0.5s, font-size 1s, text-decoration 4.5s;
}

.navA:hover {  /*nav a text when hovered apon */
    color: red;
    -webkit-text-stroke: 0.14vw black;
    transition: -webkit-Text-Stroke 0.2s, color 0.2s, color 0.5s, font-size 1.2s, text-decoration 4.5s;
}



.wow:hover .logo { /*makes logo show when nav is acitvated/hovered on */
    width: 8vh;
    height: 8vh;
    transition: height 1.2s;
}

.wow:hover .grey {/* makes hoever bar nothing when nav is up*/
    width: 0;
    height: 0;
    transition: width 1s, height 500s;

}


.grey {  /*sets values for hover bar  */
    width: 5vw;
    height: 100vh;
    position: absolute;
    left: 0;
    transition: width 1s;
}

h4 {  /* media page header text alinment size and colour and border*/
    grid-row: 1;
    grid-column: 1/ span 2;
    text-align: center;
    align-self: center;
    background-color: black;
    color: red;
    font-size: 2.8vh;
    border-radius: 0.6vh;
    border: 0.3vh solid red;
    margin: 0 2vw;
}


.p{ /* media paragraph text aliment size and colour*/
    align-self: baseline;
    grid-column: 1 / span2;
    width: 75vw;
    justify-self: center;
    font-size: 3vh;
    color: white;
    text-shadow: 0.5vh 0.5vh 0.3vh black;
    font-family: 'Kiwi Maru', serif;
    text-decoration: none;
}

.link {  /*media links athsetics */

    text-decoration: underline;
    text-decoration-color: white;
    color: white;
    -webkit-text-stroke: 0.01vh black;
    transition: -webkit-Text-Stroke 1.2s, color 1.6s, text-decoration-color 1.2s;
}

.link:hover { /* hover for media links*/
    /*    color: grey;*/
    color: black;
    text-decoration-color: grey;
    -webkit-text-stroke: 0.05vh white;
    transition: -webkit-Text-Stroke 0.38s, color 0.38s, text-decoration-color 0.4s;
}

/*need to change font sizes in cart*/
.header {  /* spacing and alinment for header at top of screen with 2 dropdwons menus*/
    display: grid;
    grid-template-columns: 15fr 13fr;
    grid-template-rows: 10vh;
    height: 10vh;
    margin-left: 2vw;
}

.but1 {  /* this is the itemmenu hover text*/
    border: none;
    grid-column: 4;
    background: none;
    background-color: black;
    color: red;
    text-align: center;
    align-self: center;
    font-size: 4vh;
    transition: font-size 0.12s, color 0.6s, background-color 0.4s, border 0.6s;
    padding: 0;
    width: 25vw;
    justify-self: center;
    border-radius: 0.6vh;
    border: 0.3vh solid red;
}


.but1:hover { /* items text hover*/
    font-size: 5vh;
    color: black;
    background-color: red;
    /*    background-image: linear-gradient(to right, red , yellow);*/

}

bold {  /*custom bold size */
    font-size: 3vw;
    color: white;

}

.dropDown:hover .but1 { /*item dropdow menu  */

    color: black;
    background-color: red;
    border: 0.3vh solid black;
}

/*rest of styles should be self explanatary*/
.dropDown1 {
    grid-column: 1;
}

.dropDown {
    text-align: center;
    position: relative;
    display: block;
    height: 3vh;
    width: auto;
}

.shoppingMenu {
    grid-row: 1/4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.clearImg {
    width: 10vw;
    height: 10vw;
    grid-column: 1;
    margin: auto;
}

.remButton {    /*item remove button*/
    width: 12vw;
    height: 12vw;
    background: none;
    padding: none;
    margin: none;
    border-radius: 1vh;
    border: 0.02vw solid red;
}

.remButton:hover {
    border: 0.4vw solid white;
}


h10 {
    color: white;
    font-size: 3vh;
    grid-row: 1;
    grid-column: 2;
    align-self: center;
}

.cartBottom {
    display: grid;
    grid-column: 1/ span end;
    grid-template-rows: 1;
    grid-template-columns: 2;
}

.box {
    grid-column: 2;
    margin-left: 4vw;
    grid-row: 2;
    display: grid;
    grid-template-columns: 0 auto auto auto 10fr;
    grid-column-gap: 1vw;
    grid-template-rows: repeat(4, 1fr);
    /* grid-row-gap: 3.1415927vh; */
}



h1 {
    color: white;
    font-size: 2vh;
    text-align: left;
    grid-column: 2;
    font-size: 0vh;
    margin-left: 10px;
}


.itemMenu {  /*this is the menu to seclet what item page */
    display: none;
    z-index: 1;
    /*    position: absolute;*/
    /*    left: 28%;*/
    /*    right: 50%;*/
    grid-row: 1/2;
    grid-column: 1;
    align-self: center;
    justify-self: center;
    text-align: center;
    width: auto;
}

.itemMenu2 {  /*this is the items with names and Images */
    display: none;
    z-index: 1;
    width: 100%;
    align-content: center;
    text-align: center;
    grid-template-columns: 4fr 2.3fr 1fr 1.4fr 1fr 1fr;
    grid-template-rows: 1fr;
    text-align: center;

}



.count {  /* shoping cart item count*/
    grid-column: 4;
    grid-row: 1;
}

.number2 {
    grid-row: 2;
}

.remove {
    /* delte cart items */
    background-color: white;
    border-radius: 0.5vh;
    height: 3vh;
    width: 3vh;
    height:0;
}

 .remove:hover {
  background-color: black;

}


.button2 {
    height: 0;
    align-items: center;
    width: 0;
    border: none;
    grid-column: 5;
    grid-row: 1;

}




.itemMenu2:hover {
    align-content: center;


}

.itemMenu h3 {
    margin: 1vh 0 0 0;
    font-size: 2.5vh;
    color: white;
    width: auto;
    text-align: center;
    justify-self: center;
    border: 0.2vh solid grey;
    border-radius: 0.7vh;
    padding: 0.2vh 1vh;
    transition: background-color 0.3s, border 0.3s, color 0.3s;

}


.itemMenu h3:hover {
    background-color: grey;
    border: 0.2vh solid white;
    color: rgb(40, 40, 40);
}

.h2 {
    font-size: 2.5vh;
    color: white;
    width: auto;
}



.dropDown:hover .itemMenu,
.dropDown:hover .itemMenu2 {
    display: grid;
}


.shoppingCart {
    grid-column: 2;
    justify-items: center;
    height: 17vh;
}

#abc {
    align-items: center;
    justify-content: center;
}

.sCart {
    height: 15vh;

}



.dropDown:hover .shoppingCart {
    display: grid;
    /*    width: 1vw;*/


    grid-template-rows: 5fr;
    grid-template-columns: 1fr;

    /*    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr) ) ;*/
}


.img {
    width: 0;
    height: 0;
    background: none;

}


.img1 {
    grid-row: 1;
    grid-column: 3;
    align-self: center;
}

.img2 {
    grid-row: 2;
    grid-column: 3;
    align-self: center;
}

.img3 {
    grid-row: 3;
    grid-column: 3;
    align-self: center;
}

.d4 {
    grid-row: 4;
    grid-column: 3;
    align-self: center;
}


.cart1 {
    grid-row: 1;
    grid-column: 4;
    align-self: center;
}

.cart2 {
    grid-row: 2;
    grid-column: 4;
    align-self: center;
}

.cart3 {
    grid-row: 3;
    grid-column: 4;
    align-self: center;
}

.cart4 {
    grid-row: 4;
    grid-column: 4;
    align-self: center;
}
.plus {
 border: 0.3vh solid rgb(40,40,40); /*matchs backround and prevents size changing */

 border-radius: 0.7vh; /* rounds corners to make look nice */
  transition: border 0.2s;makes feel smoother
}
.plus:hover {

    border: 0.3vh solid red;
    }

footer {
    display: grid;

    position: absolute;
    bottom: 1vh;

    grid-template-rows: 2;
    grid-template-columns: 1;
}


h22 {
    font-size: 3vh;
    width: 100vw;
    text-align: center;
    align-self: center;
    font-family: 'Kiwi Maru', serif;
    text-shadow: 0.1vh 0.1vh 0.9vh white;
}

.center {
  align-content: center;
  align-self: center;
}

.bigKayak {

    height: 25vh;
    justify-self: center;

    left: 30vw;
    right: 30vw;
} /*img at bottom of screen*/


@media only screen and (min-width: 600px) {
    .bigKayak {
      height: 24vh;
    }
}


@media only screen and (max-width: 600px) {
.bigKayak {
  height: 15vh;
}

}
